* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #083b4c;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h1 {
    padding: 60px;
    font-size: 80px;
    text-align: center;
    color: white;
}
.container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.box {
    width: calc(100% / 7 - 8.57px);
    height: 150px;
    text-align: center;
    line-height: 150px;
    border: 1px solid black;
}
.bg_blu {
    background-color: #1389b2;
}
.bg_green {
    background-color: #0bd6a1;
}
.bg_red {
    background-color: #f0466f;
}
.bg_yellow {
    background-color: #ffd166;
}
